<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="/"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Admin <sup></sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt" aria-hidden="true"></i>
      <span>Trang chủ</span></a
    >
  </li>

  <div class="sidebar-heading">Quản lý</div>

  <li class="nav-item">
    <a class="nav-link" href="/cities">
      <i class="fas fa-fw fa-map-marker" aria-hidden="true"></i>
      <span>Quản lý thành phố</span></a
    >
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/managertourguides">
      <i class="fas fa-fw fa-chart-area" aria-hidden="true"></i>
      <span>Quản lý hướng dẫn viên</span></a
    >
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" href="/managertravelers">
      <i class="fas fa-fw fa-table" aria-hidden="true"></i>
      <span>Quản lý du khách</span></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/becometourguide">
      <i class="fas fa-fw fa-table" aria-hidden="true"></i>
      <span>Duyệt hướng dẫn viên </span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />
  <div class="text-center d-none d-md-inline">
    <button type="button" class="btn btn-danger">
      <a
        style="color: rgba(255, 255, 255, 0.8); text-decoration: none"
        href="/logout"
        >Đăng xuất</a
      >
    </button>
  </div>

  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
