<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855060710487-3v34m5vv19fisal3tgbkjvvmt49s39u4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855060710487-3v34m5vv19fisal3tgbkjvvmt49s39u4</string>
	<key>API_KEY</key>
	<string>AIzaSyAWHgfZ8oX7_A-skayvXJn2d71QXX57fqA</string>
	<key>GCM_SENDER_ID</key>
	<string>855060710487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CapstoneVersion2</string>
	<key>PROJECT_ID</key>
	<string>yourtour-c4d0f</string>
	<key>STORAGE_BUCKET</key>
	<string>yourtour-c4d0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855060710487:ios:2388c44a2857015a298f12</string>
	<key>DATABASE_URL</key>
	<string>https://yourtour-c4d0f.firebaseio.com</string>
</dict>
</plist>